@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color1: #ffb52e;
  --color2: #7a871e;
}

section {
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color1);
}

.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.container .contactInfo {
  background: var(--color2);
  border-radius: 20px;
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.container .contactInfo h2 {
  color: #ffff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .formResult {
  border-radius: 20px;
  background: #fff;
  position: absolute;
  padding: 30px 50px;
  padding-left: 220px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.clock {
  color: var(--color2);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 0;
}

.formResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.formResult img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
